.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}
.whole{
  background-color: #232931;
  background-image: url(images/Travern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 30px;
  font-family: 'Pirata One', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #ffffff;
}

p {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Pirata One', cursive;
}

img {
  width: 50%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Pirata One', cursive;

}
.f{
  font-size: 1.5rem;
  display: inline;
  background-color: #3b3e424f;
}
.re{
  display: inline-block;
  border-radius: 60%;
  margin-left: 1rem;
  margin-bottom: 0;
  width: 14rem;
  height:14rem;
}
.re2{
  display: inline-block;
  border-radius: 60%;
  margin-left: 1rem;
  width: 14rem;
  height:14rem;
}
